@import 'vendor/normalize';

$color-primary: rgb(7, 71, 166);
$color-primary-light: rgb(222, 235, 255);
$color-primary-dark: darken($color-primary, 5);
$color-light: lighten(#637599, 48);
$color-font: #333c4e;
$color-font-light: #637599;

*, *:before, *:after {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	font-family: 'Nunito', sans-serif;
	color: $color-font;
}

.main {
  padding: 40px;
  width: 100%;
  overflow-x: hidden;
}

.board {
	padding-bottom: 40px;
	overflow-x: auto;
	margin-right: -40px;
}

.board__lists {
	display: inline-flex;
	padding-right: 40px;
}

.header {
	position: relative;
	background: $color-primary;
	color: #ffffff;
}

.header__logo {
	display: inline-block;
	font-weight: 300;
	color: #ffffff;
	padding: 25px 38px;
	font-size: 22px;
	margin: 0;
	line-height: 1;
	i {
		color: $color-primary-light;
		font-size: 34px;
		margin-right: 8px;
	}
	> * {
		display: inline-block;
    vertical-align: middle;
	}
}

.header__right {
	float: right;
	padding: 25px 38px;
}

.user-greeting {
	line-height: 34px;
	color: $color-primary-light;
	a {
		display: inline-block;
		vertical-align: middle;
		padding: 11px 18px;
		text-decoration: none;
		background-color: $color-primary-dark;
		color: #FFFFFF;
		font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    margin-left: 12px;
	}
}

input[type="text"],input[type="email"],input[type="password"], textarea {
	width: 100%;
	display: block;
	height: 50px;
	background: #FAFBFC;
	border-radius: 4px;
	line-height: 1;
	padding: 10px 14px;
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
	border: 1px solid #ccc;
	&:focus {
		background-color: #FFF;
    border: 2px solid #4C9AFF;
	}
}

textarea {
	min-height: 70px;
}

.field {
	margin-bottom: 15px;
}

.field__error {
	display: block;
	font-weight: 600;
	font-size: 12px;
	color: #ff005a;
	margin-top: 8px;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	height: 50px;
	border-radius: 4px;
	line-height: 1;
	padding: 10px 28px;
	font-size: inherit;
	-webkit-appearance: none;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .04em;
	box-shadow: none;
	border: none;
	font-family: 'Nunito', sans-serif;
	cursor: pointer;
}

.btn--primary {
	color: #ffffff;
	background: $color-primary;
	&:not(.btn--loading) {
		&:hover {
			background: $color-primary-dark;
		}
	}
}

.btn--loading {
	cursor: progress;
}

// List
.list {
	width: 272px;
	max-width: 100%;
	display: flex;
  flex-direction: column;
  background: $color-light;
  border-radius: 6px;
  height: 100%;
  margin: 0 5px;
  overflow: hidden;
}

.list__header {
	padding: 12px;
}

.list__name {
	font-size: inherit;
	margin: 0;
}

.list__cards {
	min-height: 25px;
	//max-height: 50vh;
	//overflow-y: auto;
	padding: 0 6px 6px;
}

.add-card {
	position: relative;
}

.add-card__close {
	position: absolute;
	right: 12px;
	bottom: 12px;
	@extend .card__util;
}

.add-card__open {
	display: block;
	width: 100%;
	font-size: inherit;
	background: darken($color-light, 3);
	border: none;
	border-radius: 0;
	padding: 12px;
	text-align: left;
	font-family: 'Nunito', sans-serif;
	-webkit-appearance: none;
}

.add-card .card-form, .add-list, .add-board {
	padding: 12px;
	background: darken($color-light, 3);
}

.add-list, .add-board {
	@extend .list;
}

.add-board {
	width: 24%;
}

// Card
.card {
	display: block;
	padding: 12px;
	width: 100%;
	background: #ffffff;
	border-radius: 6px;
	margin-bottom: 6px;
	box-shadow: 0 2px 5px rgba($color-font,.1);
}

@keyframes flash {
	0% {
		opacity: .5;
	}
	50% {
		opacity: .75;
	}
}

.card--disabled , .list--disabled {
	opacity: .5;
	animation: flash infinite 1s;
}

.card__name {
	margin: 0;
	padding-right: 25px;
}

// Color selector
.color-selector {
	display: block;
  position: relative;
  z-index: 2;
  padding: 0 5px;
}

.color-selector__choice {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	border: none;
	border-radius: 50%;
	-webkit-appearance: none;
	box-shadow: none;
	margin-right: 5px;
	z-index: 1;
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: -3px;
		top: -3px;
		bottom: -3px;
		right: -3px;
		border-radius: 50%;
		border: 3px solid $color-font-light;
		z-index: 1;
		opacity: 0;
	}
	&.is-active {
		z-index: 3;
		&:before {
			opacity: .5;
		}
	}
}

.card__label {
	display: inline-block;
	position: relative;
	width: 28px;
	height: 6px;
	border-radius: 6px;
	margin-bottom: 10px;
	background: red;
}

.card__util {
	float: right;
	-webkit-appearance: none;
	background: transparent;
	border: none;
	box-shadow: none;
	padding: 0;
	margin-left: 4px;
	color: $color-font-light;
	> i {
		font-size: 18px;
	}
	&:hover {
		color: $color-font;
	}
}

.card__heading {
	display: inline-block;
	text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  margin: 0 0 18px;
}

.boards__list {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.boards__item {
	float: left;
	width: 24%;
	margin-bottom: 20px;
	padding-right: 20px;
}

.boards__tile {
	display: block;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	text-decoration: none;
	background: $color-primary;
	border-radius: 6px;
	text-align: center;
	font-weight: 600;
	padding: 20px;
	color: #fff;
}

.login-form, .register-form {
	max-width: 400px;
}

.navbar {
	padding: 0 40px;
	background: $color-primary-dark;
}

.navbar__list {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar__item {
	float: left;
	margin-right: 30px;
}

.navbar__link {
	display: block;
	color:  #FFFFFF;
	text-decoration: none;
	padding: 22px 0;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: .04em;
	&:hover {
		color: #FFFFFF;
	}
}

.navbar__link--logout {
	color: $color-primary-light;
	background: darken($color-primary, 3);
	padding: 22px 30px;
}

h3 {
	margin: .5em 0;
}

a {
	font-weight: 600;
	color: darken($color-primary-light, 30);
}

.dialog {
	background: $color-primary;
	color: #fff;
	padding: 20px 15px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    margin: 20px 0;
    p {
    	margin: 0 0 15px;
    	&:last-of-type {
    		margin: 0;
    	}
    }
}

.dialog--error {
	background: #fd465c;
    color: #fff;
}